<p id="notice"><%= notice %></p>

<h1>Listing Member Tournaments</h1>

<table>
  <thead>
    <tr>
      <th>\</th>
      <th>Memberid</th>
      <th>Tournamentid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @member_tournaments.each do |member_tournament| %>
      <tr>
        <td><%= member_tournament.\ %></td>
        <td><%= member_tournament.memberId %></td>
        <td><%= member_tournament.tournamentId %></td>
        <td><%= link_to 'Show', member_tournament %></td>
        <td><%= link_to 'Edit', edit_member_tournament_path(member_tournament) %></td>
        <td><%= link_to 'Destroy', member_tournament, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member tournament', new_member_tournament_path %>
