<div style="min-height:140px">
<table>
  <tr>
    <th></th>
    <th>Title</th>
    <th>City</th>
    <th>State</th>
    <th>Lake</th>
    <th>Date / Time</th>
    <th>Number boats</th>
    <th>Co-anglers</th>
  </tr>

    <%@tournaments.each do |t|%>
      <%if !@member || t.member_tournaments.where(:memberId => @member.memberId).count == 0 %>
    <tr>
      <td><%= link_to 'View / Register', tournaments_register_path(:tournamentId => t.tournamentId) %></td>
      <td><%=t.title%></td>
      <td><%=t.city%></td>
      <td><%=t.state%></td>
      <td>Pine & Stone</td>
      <td>3/5/2015 4:00 am</td>
      <td><%=t.numBoats%></td>
      <td><%=t.hasCoAnglers%></td>
    </tr>
          <%end%>
    <%end%>
</table>
</div>