 <div id="prod_wrapper">
    <div id="panes">
      <div style="background:#6895E3"> <%=image_tag("welcome/backboat1.jpg")%>
        <h2>What is AnyGivenWeekend</h2>
        <p>
          Any given weekend is about waking up before anyone else. It is about doing countless hours of research before heading out on a new lake.
          It is about going to war, not with an army, but with a rod and reel. It about about finding where the big ones live and taking them on a little ride.
          This site is about supplementing your club tournaments. Going out of town and can't fish your club tournament? No problem find on on Sunday to fish. Love
          fishing tournaments but your work doesn't allow you to? No problem just find one for your off day. Can't seem to find a tournament that works for you? No problem
          create your own, sit back, and let the site do the work of finding members.
        </p>
      </div>
      <div style="background:#73E368">  <%=image_tag("welcome/kayak1.jpg")%>
        <h2>Kayak Tournaments</h2>
        <p>Kayak fishing is on the rise. With the high cost of owning a bass boat and transporting, Kayaks are looking more and more like a better choice. I got my start in bass fishing out of a kayak
        	and haven't looked back. After hours of searching for a Kayak bass fishing tournament, I was really dishearted when I couln't find one. That is what motivated me to build this site,
        	and what will keep me motivated moving forward. 
        <p style="text-align:right; margin-right: 16px"><a href="#" class="button">Find One Now</a>
      </div>
      <div>  <%=image_tag("welcome/backboat1.jpg")%>
        <h2>Guide Services</h2>
        <p>Want to learn a local lake better? Use our site to help find a guide that can teach you everything you need to know.</p>
        <p style="text-align:right; margin-right: 16px"><a href="/guides" class="button">More Info</a>
      </div>
      <div>  <%=image_tag("welcome/backboat1.jpg")%>
        <h2>Future Plans</h2>
        <ul>
          <li>Better more modern and responsive design</li>
          <li>Anygivenweekend merch</li>
          <li>Guide Services</li>
          <li>Anygivenweekend Sponsered Events</li>
        </ul>

      </div>
      <div>  <%=image_tag("welcome/backboat1.jpg")%>
        <h2>Donate</h2>
        <p>
          We need your help. This website is free, and always will be, but in order to make our site better, and continue to provide better and better services. We need your donations.
          The fishing industry is all about advertising and like you are are a little sick of having products shoved down our thoughts. To help with this we will keep advertising to a
          minimum on our sites in hopes to provides a better service. All Donations not used will be used for Anygivencast events. Free events for our donators.
        </p><a href="/guides" class="button">Click here to donate</a>
      </div>
    </div>

   <br clear="all">

   <div id="prod_nav">
     <ul>
       <li><a href="#"> <%=image_tag("welcome/backboat1.jpg", width: '160')%><strong>Who we Are</strong></a></li>
       <li><a href="#"> <%=image_tag("welcome/kayak1.jpg", width: '160')%><strong>Tournaments</strong></a></li>
       <li><a href="#"> <%=image_tag("welcome/backboat1.jpg", width: '160')%><strong>Guide Services</strong></a></li>
       <li><a href="#"> <%=image_tag("welcome/kayak1.jpg", width: '160')%><strong>Future Plans</strong></a></li>
       <li><a href="#"> <%=image_tag("welcome/backboat1.jpg", width: '160')%><strong>Donate</strong></a></li>
     </ul>
   </div>
 </div>
 <div style="clear:both"></div>

<div class="two-third">
 <h2>Guide of the Month</h2>
  <div style="float:left;width:100px;">
    <%=image_tag 'guides.jpg'%>
  </div>
  <div style="float:right;width:325px;">
    Guides services will allow you to either register as a guide to find new clients, or find a local guide to show you around a local lake.
    <p style="text-align:right; margin-right: 15px"><a href="/guides/" class="button_small">Click here to Learn More</a></p>
  </div>



</div>

 <div class="one-third last">
   <h2>Brag of the month</h2>
   <%if @bragOfMonth %>
       <img src="brags/<%=@bragOfMonth.image%>" alt="" width="parent"  class="portfolio-img pretty-box">
       <h4 style="color:#cc6600;"><%=@bragOfMonth.title%></h4>
       <ul style="padding-top: 0px;">
         <%if @bragOfMonth.lake%>
             <li><b>Lake</b>: <%=@bragOfMonth.lake%></li>
         <%end%>
         <%if @bragOfMonth.city%>
             <li><b>Location:</b> <%=@bragOfMonth.city%>
               <%if @bragOfMonth.state%>, <%=@bragOfMonth.state%>
               <%end%>
             </li>
         <%end%>
         <%if @bragOfMonth.weight%>
             <li><b>Weight</b>: <%=@bragOfMonth.weight%></li>
         <%end%>
         <%if @bragOfMonth.rig or @bragOfMonth.bait%>
             <li>
               <%if @bragOfMonth.rig%>
                   <b>Rig</b>: <%=@bragOfMonth.rig%>
               <%end%>
               <%if @bragOfMonth.bait%>
                   <b>Bait</b>: <%=@bragOfMonth.bait%>
               <%end%>
             </li>
         <%end%>
       </ul>
    <%end%>

 </div>

 <div style="clear:both"></div>
 <div class="box_highlight" style="margin-top:40px; display:none; '">
   <h2 style="text-align:center">Advertisement</h2>
 </div>


 <div class="heading_bg">
   <h2>Upcoming Tournaments</h2>
 </div>

 <%@tournaments.each do |t|%>
     <div class="one-fifth">
       <p>
         <%=t.title%>
         <%=t.city%>


       </p>
     </div>

 <%end%>

 <div style="clear:both; height: 40px"></div>


 <div class="one-half">
   <div class="heading_bg">
     <h2>About Us</h2>
   </div>
   <blockquote>
     This site was developeed by one guy who got fed up with not being able to find more tournaments to fish.
     This site is feee and always will be, Most of the fishing industry is all about advertising, this will will have no ads.
   </blockquote>
   <p style="text-align:right; margin-right: 16px; margin-bottom: 15px"><a href="#" class="button" style="font-size: 18px">Find out more</a></p>
   <div class="heading_bg">
     <h2>Video Of the Day</h2>
   </div>
   <iframe width="465" height="262" src="https://www.youtube.com/embed/HDIGyozPnKI" frameborder="0" allowfullscreen></iframe>
 </div>
 <div class="one-half last">
   <div class="heading_bg">
     <h2>Contact us today!</h2>

   </div>



 </div>
